# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
.thumbs.db

# Node & Quasar
node_modules
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE/editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Env files
.env
.env.*
.env.local*

# Certificaten
certs/
localhost*.pem
*.pem
*.key

# Husky (indien gebruikt)
.husky/